<p>demo-binding-all works!</p>
<div>
    <h1>Property Binding with Angular</h1>
    <h2>Binding the src property of an image:</h2>
    <img [src]="img">
    <hr>
    <h2>Binding to the colSpan property</h2>
    <table border="1">
        <tr><td [colSpan]="2">Study</td></tr>
        <tr><td>Name</td><td>DOB</td></tr>        
    </table>
    <hr />
    <h2 style="color: red;">Button disabled state bound to isUnchanged property:</h2>    
    <button onclick="triggerButton()">Click</button>
    
    <button type="button" [disabled]="isUnchange">Disabled Button</button>
    <hr />

    <h2>Binding to a property of a directive</h2>
    <p [ngClass]="classes">[ngClass] binding to the classes property making this blue</p>
    <hr />
</div>
